### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
Total_Players = purchase_data["SN"].unique()
Total_Players
len(Total_Players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Number_of_Unique_Items =len(purchase_data["SN"].unique())
Average_Price = sum(purchase_data["Price"])/len(purchase_data["Price"])
Number_of_Purchases =purchase_data["Item Name"].count()
Total_Revenue =sum(purchase_data["Price"])
d = {'Number of Unique Items':pd.Series([Number_of_Unique_Items]),
     'Average Price':pd.Series([Average_Price]),'Number of Purchases':pd.Series([Number_of_Purchases]),
     'Total Revenue':pd.Series([Total_Revenue])}
df = pd.DataFrame(d)
print (df)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     576       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Collect a list of all the unique values in "Gender"
purchase_data["Gender"].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [5]:
# Looking only at Male players
Male_purchase_data_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]
Male_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
Total_Male_Players = Male_purchase_data_df["SN"].unique()
len(Total_Male_Players)

484

In [7]:
# Looking only at female players
Female_purchase_data_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]
Female_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [8]:
Total_Female_Players = Female_purchase_data_df["SN"].unique()
len(Total_Female_Players)

81

In [9]:
# Looking only at Other/Non-Disclosed players
Other_purchase_data_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
Other_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [10]:
Total_Other_Players = Other_purchase_data_df["SN"].unique()
len(Total_Other_Players)

11

In [11]:
# Total count by gender and divivde by total players 
total_count_gender_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                   "Total Number":[len(Total_Male_Players),len(Total_Female_Players),len(Total_Other_Players)],
                                   "Percentage": [len(Total_Male_Players) / len(Total_Players) * 100, len(Total_Female_Players) / len(Total_Players) * 100, len(Total_Other_Players) / len(Total_Players) * 100]}
                                 )

In [12]:
total_count_gender_df

                  Gender  Total Number  Percentage
0                   Male           484   84.027778
1                 Female            81   14.062500
2  Other / Non-Disclosed            11    1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# Count the total purchases by gender 
Male_purchase_count = Male_purchase_data_df["Purchase ID"].count()
Female_purchase_count = Female_purchase_data_df["Purchase ID"].count()
Other_purchase_count =Other_purchase_data_df["Purchase ID"].count()

# Average purchase prices by gender
avg_M_purchase_price = Male_purchase_data_df["Price"].mean()
avg_F_purchase_price = Female_purchase_data_df["Price"].mean()
avg_O_purchase_price = Other_purchase_data_df["Price"].mean()

# Average purchase total by gender 
Male_purchase_total =sum(Male_purchase_data_df["Price"])
avg_Male_purchase_total =Male_purchase_total/len(Total_Male_Players)
Female_purchase_total =sum(Female_purchase_data_df["Price"])
avg_Female_purchase_total =Female_purchase_total/len(Total_Female_Players)
Other_purchase_total =sum(Other_purchase_data_df["Price"])
avg_Other_purchase_total =Other_purchase_total/len(Total_Other_Players)

# Create data frame with obtained values
index = ['Male', 'Female', 'Other']
gender_demographics = pd.DataFrame({"Purchase Count": [Male_purchase_count,Female_purchase_count, Other_purchase_count], 
                                   "Average Purchase Price":[avg_M_purchase_price,avg_M_purchase_price,avg_O_purchase_price],
                                    "Total Purchase Value":[Male_purchase_total,Female_purchase_total,Other_purchase_total],
                                    "Avg Purchase Total per Person": [avg_Male_purchase_total,avg_Female_purchase_total,avg_Other_purchase_total]},
                                    index=index)

# Provide index in top left as "Gender"
gender_demographics.index.name = "Gender"

# Format with currency style
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                 "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
# Create the bins in which Data will be held
# Bins are <10, 10-14, 15-19, 20-24, 25-29, 30-34,35-39,40+.   
bins = [0,9,14,19,24,29,34,39,100]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]
#Age_Demographics = purchase_data["Age"].unique()
purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
age_group_count = purchase_data.groupby(["Age Demographics","SN"]).size().groupby("Age Demographics").count()
age_group_count

Age Demographics
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
dtype: int64

In [32]:
#DataFrame-How many players in each age group?
age_group_count_df = pd.DataFrame(age_group_count)
players_group_by_age =age_group_count_df.columns = ['Total Count']
age_group_count_df

                  Total Count
Age Demographics
<10                        17
10-14                      22
15-19                     107
20-24                     258
25-29                      77
30-34                      52
35-39                      31
40+                        12

In [19]:
Percentage_of_Players =age_group_count_df["Percentage of Players"]=age_group_count_df["Total Count"]/age_group_count_df["Total Count"].sum()*100
Age_Demographics_df=age_group_count_df.round(2)
Age_Demographics_df

                  Total Count  Percentage of Players
Age Demographics
<10                        17                   2.95
10-14                      22                   3.82
15-19                     107                  18.58
20-24                     258                  44.79
25-29                      77                  13.37
30-34                      52                   9.03
35-39                      31                   5.38
40+                        12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
#Bin the purchase_data data frame by age
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels = group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,20-24

In [25]:
#Group by Age Range
group = purchase_data.groupby("Age Range")

# Purchase Count
sn_count = purchase_data.groupby(["Age Range"]).count()["Age"]
sn_count

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

In [26]:
# Average Purchase Price
average_price = purchase_data.groupby(["Age Range"]).mean()["Price"]
average_price

Age Range
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [27]:
# Total Purchase Value
total_purchase_value = purchase_data.groupby(["Age Range"]).sum()["Price"]
total_purchase_value

Age Range
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [33]:
# Avg Total Purchase Per Person
avg_total_purch_per = total_purchase_value /age_group_count_df['Total Count']
avg_total_purch_per

Age Range
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [34]:
table = pd.DataFrame({"Purchase Count": sn_count,
                      "Average Purchase Value": average_price, 
                      "Total Purchase Value": total_purchase_value, 
                      "Avg Total Purchase per Person": avg_total_purch_per})
table_formated=table.round(2)
table_formated

,Purchase Count,Average Purchase Value,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
top_spend =purchase_data.groupby(['SN', 'Price']).value_counts().nlargest(5)

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80